.site-layout-left {
    img {
        width: 10vw;
    }
}

//khung bên phải
.site-layout-backgroud {
    background-color: #fff !important;

}

//khung bên trái
.ant-layout-sider-children {
    background-color: #ffffff; // màu trắng
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #FFF4FC;

    transition: all 0.3s;
}

.logo img {
    transition: all 0.3s;
}

.sider-menu {
    margin-top: 16px;
    background-color: #FFF4FC;

}