.carousel{

    padding: 20px;
    max-width: 2000px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
    margin-right: 200px;
    img{
        margin-top: 130px;
        width: 100%;
        height: 60dvh;
        object-fit: cover;
        object-position: center;
    }
}


.carousel__swiper {
    position: relative; /* Để container này làm gốc cho phần tử con */
    
  }
  
.carousel__wellcome{
    position: absolute;
    margin-top: -400px;
    z-index: 1;
    padding-left: 190px;
    font-size: 30px;
    color: pink;
    font-family: "Poppins", sans-serif;
    margin-left: 70px;

    button{
        cursor: pointer;
        background-color: pink;
        padding: 10px 30px;
        border-radius: 5px;
        color: white;
    }
}