.profile-form {
    width: 60%;
    height: 60vh;
    margin-top: 200px;
    margin-left: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.profile-form {
    h2 {
        text-align: center;
    }

    p {
        margin-bottom: 10px;
    }
}

.profile-form .form-group {
    margin-bottom: 15px;
}

.profile-form label {
    display: block;
    margin-bottom: 5px;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-form button:hover {
    background-color: #3498db;
}

.success-message{
    color: green;
    font-style: italic;
}
.error-message{
    color: red;
    font-style: italic;
}